<h1>Ваш профиль</h1>
<hr style="width: 100%;">
<h2 style="color: {{color}}">{{last_name}} {{first_name}} {{patronymic}}</h2>
<p>Почта: {{email}}</p>
<div class="btn-group">
    <button class="btn orange">Редактировать</button>
    <button class="btn red" onclick="document.location.href = `/logout`;">Выйти</button>
</div>